<ion-content
  ><ion-menu content-id="main-content">
    <ion-content class="ion-padding">
      <app-ejercicios></app-ejercicios>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col
          size="6"
          size-md="4"
          size-lg="2"
          *ngFor="let grupo of grupoEjercicios"
        >
          <ion-menu-toggle (click)="capturar(grupo.id)">
            <ion-card>
              <ion-card-header>
                <h5 style="color: #f1f0f0">{{ grupo.grupo }}</h5>
              </ion-card-header>
            </ion-card>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <app-ejercicios-form></app-ejercicios-form>
    </ion-content>
  </div>
</ion-content>
