<ion-header [translucent]="true">
  <ion-toolbar>
    <ng-container
      *ngIf="
user$ | async as user"
    >
      <h6>{{user.email}}</h6>
    </ng-container>
    <ion-icon
      (click)="logOut()"
      slot="end"
      size="large"
      name="log-out-outline"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-home-page></app-home-page>
</ion-content>
